<!DOCTYPE html>
<html>
<head lang="en">

    {% load dajaxice_templatetags %}{% dajaxice_js_import %}
{#    {% load staticfiles %}#}
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<input onclick="Dajaxice.jsrpc.ajax.multiply('primer_callback',{'message':'Хэллоу Уорлд!'});" type="button" value="Push Me!" />


<script type="text/javascript">
function primer_callback(data){
    if(data!=Dajaxice.EXCEPTION){
        alert(data.message);
    }else{
        alert('Error');
    }
}
</script>


</body>
</html>