{% extends 'dynamic_models/base.html' %}
{% load dynamic_tags %}

{% block content %}

{% csrf_token %}
  <div class="row">
    <div class="four columns">
      {% dynamic_tabs %}
    </div>
    <div class="eight columns">


      <div id="model_list">

      </div>

    </div>
  </div>

  {% verbatim %}

    <script id="modelHead" type="text/html">
    <div class="table">
        <div>
          {{#fields}}
            <div>{{.}}</div>
          {{/fields}}

          <div></div>
        </div>
    </div>
    </script>

    <script id="modelBody" type="text/html">
      <div class="table">
              <div>
                  {{#model}}
                      <div class="text_div">
                          <input class="text" type="text" value="{{ . }}"/>
                      </div>
                  {{/model}}

                  <input type="submit" onclick="submit_form(this)">
              </div>
      </div>

    </script>



    <script id="newModel" type="text/html">
    <h3>Добавить</h3>
    <div class="table">
        <form id="new_form" action="javascript:void(null);" onsubmit="post_form()">
                {{#names}}
                    <div>
                        <input type="text" name={{.}} id="text"/>
                    </div>
                {{/names}}
            <input type="submit">
        </form>
    </div>

    </script>


  {% endverbatim %}




{% endblock %}
