{% extends 'dynamic_models/base.html' %}
{% load dynamic_tags %}

{% block content %}
{% csrf_token %}
  <div class="row">
    <div class="four columns">
      {% dynamic_tabs %}
    </div>
    <div class="eight columns">
      <table id="model_list">
      </table>
    </div>
  </div>

  {% verbatim %}

    <script id="modelHead1" type="text/html">
      <thead>
        <tr>
          {{#fields}}
          <th>{{.}}</th>
          {{/fields}}

          <th></th>
        </tr>
      </thead>
    </script>

    <script id="modelBody" type="text/html">
      <tr>
      {{#model}}
          <td><input type="text" value={{.}} name={{ field }}></td>
      {{/model}}
          <td><input type="submit" value="Изменить"></td>
      </tr>
    </script>


    <script id="newModel" type="text/html">
    <form >
        {{#fields}}
            <input type="text" name={{.}}>
        {{/fields}}
        <input type="submit">
    </form>
    </script>
  {% endverbatim %}

{% endblock %}
